<button class="btn btn-default" (click)="gotoList()">Back to Project List</button>
<button class="btn btn-default" *ngIf="!editing" (click)="edit()">Edit</button>
<button class="btn btn-default" *ngIf="editing" (click)="cancelEdit()">Cancel</button>
<section class="section">
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
        <fieldset ngModelGroup="project">
            <div class="form-group">
                <label for="name">Name</label>
                <!-- Working around this issue: https://github.com/angular/angular/issues/7697 -->
                <input type="text" class="form-control" [disabled]="!editing" 
                name="name" [(ngModel)]="project && project.name" required minLength="3" #projectName="ngModel"/>
            </div>
            <div *ngIf="projectName.hasError('required')" class="error">
                Project name is required
            </div>
            <!-- This validation is not working correctly at the moment. Inspect the classes to verify -->
            <div *ngIf="projectName.hasError('minlength')" class="error">
                Project name should be at least 3 characters
            </div>            
            <fieldset ngModelGroup="customer">
                <div class="form-group">
                    <label for="customer">Customer</label>
                    <input type="text" class="form-control" disabled name="name" 
                        [ngModel]="project?.customer.name">
                </div>
            <fieldset ngModelGroup="contact">
                <div class="form-group" *ngIf="project?.customer.contact">
                    <label for="contact">Contact</label>
                    <input type="text" class="form-control" disabled name="name" 
                        [ngModel]=project?.customer.contact?.fullName >
                </div>
            </fieldset>
            </fieldset>
        </fieldset>
        <button class="btn btn-default" type="submit" *ngIf="editing">Save</button>
    </form>
</section>